body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfdfe;
    color: #333333;
}

header {
    background-color: #6096ba;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #8b8c89;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px 0;
}

section#socials ul {
    list-style: none;
    padding: 0;
}

section#socials ul li {
    margin: 10px 0;
}

section#socials ul li a {
    color: #6096ba;
    text-decoration: none;
    font-weight: bold;
}

section#socials ul li a:hover {
    color: #acd2f2;
}

footer {
    background-color: #8b8c89;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
